.mission-section,
.values-section,
.team-section,
.why-choose-us,
.awards-section,
.about-hero-section {
  width: 80%;
  margin: 120px auto;
  text-align: center;
}

.about-page {
  padding: 40px 20px;
}

.about-hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  margin-top: 0;
}

.about-hero-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.about-hero-content h1 {
  font-size: 3.3rem;
    text-align: left;
  width: 700px;
  font-weight: 700;
  line-height: normal;
}

.about-hero-content p {
  font-size: 1rem;
    text-align: left;
width: 700px;
  color: #555;
  line-height: 1.6;
}

.about-hero-image {
  flex: 1;
  width: 100%;}

.about-hero-image img {
  width: 100%;
  border-radius: 20px;
}

.mission-section {
  padding: 0 150px;
}

.mission-section 
 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.mission-section h3 {
  font-size: 1.2rem;
  color: #333;
}

.mission-section p {
  font-size: 0.9rem;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
}

.why-choose-us {
  padding: 30px 20px;
  background: #fff;
  text-align: center;
}


.why-choose-us h2 {
  font-size: 2.7rem;
  margin-bottom: 40px;
  color: #222;
  text-align: left;
}

.h2s {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.why-choose-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.why-choose-image {
  flex: 1;
  width: 740px;
}

.why-choose-image img {
  border-radius: 20px;
    width: 100%;
}

.why-choose-features {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.about-feature-icon {
  width: 120px;
  height: 120px;
  background: #f9f9f9;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-feature-icon svg {
  font-size: 2rem;
  color: var(--accent-color);
}
.about-feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.awards-section h2 {
  font-size: 2.2rem;
  text-align: left;
  margin-bottom: 25px;
  color: #222;
  margin-left: 20px;
}

.awards-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.awards-table thead {
  text-align: left;
}

.awards-table th,
.awards-table td {
  padding: 16px 20px;
  border-bottom: 1px solid #eee;
  text-align: start;
}

.awards-table th,
.awards-table td {
  color: #555555;
  font-weight: 400;
  font-size: 0.9rem;
}

.awards-table tbody td:first-child {
  font-weight: 700;
  font-size: 19px;
  flex-wrap: wrap;
  width: 450px;
  color: #222;
  padding-right: 60px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 0 10px;
  margin: 30px auto 0 auto;
}

.team-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #fff;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  font-weight: 500;
  transition: 0.3s ease;
  margin: 0 auto;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.team-card p {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #333;
}

.team-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.team-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.team-header {
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
}

.team-left-section p,
.team-left-section h2 {
  text-align: left;
}

.team-left-section h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.team-right-section {
  width: 45%;
}

.team-right-section p {
  text-align: right;
  font-size: 16px;
  color: #555;
}

@media (max-width: 1025px) {
  .mission-section{ 
    padding: 0;
  }
  .about-hero-section p, .team-right-section p {
    display: none;
  }
  .team-card p {
    font-size: 16px;
  }
  .why-choose-image {
    display: none;
  }
  .why-choose-features{
    flex-direction: row;
    width: unset;
  }
}

@media screen and (max-width: 800px) {
  .mission-section,
.values-section,
.team-section,
.why-choose-us,
.awards-section,
.about-hero-section {
  width: 100%;
  margin: 0 auto 60px auto;
  text-align: center;
}
.about-page {
  padding-top: 20px;
}
.about-hero-section {
  margin-top: 10px;
}
  .about-hero-content {
    flex-direction: column;
  }

  .about-hero-content h1 {
    font-size: 35px;
    line-height: 1.2;
    text-align: left;
    width: 90%;
  }

  .about-hero-content p {
    font-size: 16px;
    text-align: center;
    width: 100%;
  }

  .about-hero-section {
    gap: 30px;
  }  

  .mission-section {
    padding: 0;
  }

  .mission-section h2 {
            border-top: 1px solid rgba(134, 134, 134, 0.304);

    font-size: 20px;
padding-top: 20px;
  }
  .mission-section h3 {
    font-size: 18px;
  }
  .mission-section p {
    font-size: 14px;
    max-width: 100%;
        border-bottom: 1px solid rgba(134, 134, 134, 0.304);
    padding-bottom: 20px;
  }

  .team-header {
    flex-direction: column;
    gap: 20px;
  }

  .team-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 0;
  }

  .team-card {
    padding: 15px;
  }

  .team-card p {
    font-size: 14px;
  }
  .team-right-section {
    width: 100%;
    text-align: left;
  }
  .team-right-section p {
    text-align: center;
    font-size: 18px;
  }

  .team-left-section h2 {
    font-size: 33px;
    text-align: left;
        border-bottom: 1px solid rgba(134, 134, 134, 0.304);
    margin-bottom: 20px;
  }
  .team-header {
    text-align: left;
    align-items: start;
        padding-left:  20px;
  }
  .h2s {
    flex-direction: column;
    align-items: left;
    gap: 20px;
  }
.h2s h2 {
    font-size: 33px;
    text-align: left;
    margin-bottom: 0;
        border-bottom: 1px solid rgba(134, 134, 134, 0.304);
    margin-bottom: 20px;
    width: 65%;
  }
  .why-choose-image {
    display: none;
  }

  .why-choose-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
    .why-choose-features {
    width: 100%;
    gap: 20px;
  }
  .about-feature-icon svg {
    font-size: 2.5rem;
  }

  .about-feature-icon {
    height: 72px;
    width: 72px;
  }
  .awards-table tbody td:first-child {
    font-size: 16px;
    width: 195px;
    padding-right: 5px;
  }

  .awards-table td,
  .awards-table thead th {
    padding: 10px 0px 10px 10px; 
  }

  .awards-section {
    margin-bottom: 30px;
  }

  .awards-table th {
    padding: 16px;
  }
  .awards-table tbody td:nth-child(3),
    .awards-table th:nth-child(3){
    display: none;
  }

  .awards-section h2 {
    font-size: 33px;
    margin-left: 10px;
            border-bottom: 1px solid rgba(134, 134, 134, 0.304);
            width: 65%;

  }
}