.app-preview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  background-color: #f5f5f5;
  gap: 0rem;
  border-radius: 2rem;
  flex-wrap: wrap;
}
.preview-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 0 5rem;
  gap: 1rem;
}

.preview-text h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.preview-text p {
  color: #666;
  font-size: 1rem;
  max-width: 500px;
}

.preview-image {
  flex: 1 1 400px;
  text-align: center;
  display: block;
}

.preview-image img {
  max-width: 100%;
  border-radius: 1rem;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1024px) {
  .preview-text {
    flex: 1 1 245px;
  }
}

@media screen and (max-width: 800px) {
  .preview-image {
    display: none;
  }
  .app-preview {
    padding: 2rem;
  }
  .preview-text {
    flex: none;
    width: 100%;
    text-align: center;
  }
  .preview-content {
    padding: 0;
  }
}