/* Sidebar Container */
.sidebar {
display: flex;
  flex-direction: column;
  justify-content: space-between; /* space top, middle, bottom equally */
  height: calc(100vh - 1rem);
  width: 280px;
  background-color: var(--bg-color);
  padding: 3rem 2rem;
  color: #1f1f1f;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 20px;
}

.sidebar.collapsed {
  width: 72px;
  padding: 1.5rem 0.5rem;
}

/* Top Section */
.top-section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-left: 0.5rem;
}

.logo-img {
  width: 32px;
  height: 32px;
}

.logo-text {
  font-size: 1.3rem;
  font-weight: 600;
  color: #1f1f1f;
}

.nav-links-sidebar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto 0;
}

.nav-links-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-links-bottom {
  margin-top: 0;
  padding-bottom: 1rem;
}
.nav-links-bottom button {
  cursor: pointer;
}
.nav-links-sidebar a, button {
  color: #4f4f4f;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.7rem 1rem;
  border-radius: 6px;
  font-size: 0.95rem;
  transition: background 0.2s ease;
  background-color: transparent;
  border: none;
}

.nav-links-sidebar a:hover,
.nav-links-sidebar button:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

@media screen and (max-width: 1025px) {
  .sidebar {
    width: 200px !important;
    padding: 2rem 1rem;
  }

  .nav-links-sidebar {

  }
}

@media (max-width: 800px) {
  .sidebar {
    width: 60px !important;
    padding: 1.2rem 0.5rem;
    margin: 0;
    margin: 5px;
    height: 100vh;
    border-radius: 15px;
  }

  .logo-text,
  .username,
  .nav-links-sidebar span,
  .create-task-btn h4 {
    display: none;
  }

  .top-section{
    align-items: center;
    justify-content: center;
  }

  .create-task-btn {
    width: 100%;
    justify-content: center;
    padding: 0.6rem 0.5rem;
  }
  .nav-links-sidebar a, button {
    justify-content: center;
    padding: 0.6rem 0.5rem;
    font-size: 1.2rem;
  }
  .nav-links-sidebar {
    margin: 0;
    margin-top: 3rem;
    justify-content: flex-start;
  }
}

